html,
body {
  padding: 10;
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: linear-gradient(
    to bottom,
    #3498db,
    #9b59b6
  ); /* 背景を青から紫へのグラデーションに設定 */
}
